# --- Core Framework ---
streamlit
pandas
matplotlib
python-dotenv

# --- AI & Logic ---
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-google-genai
langchain-huggingface
langgraph
pinecone
pinecone-client

# --- Scraping & Search ---
beautifulsoup4
playwright
duckduckgo-search
requests

# --- Data & Formatting ---
pydantic
numpy
