# Core Framework
streamlit==1.56.0

# AI & LLMs
google-genai>=1.73.1
google-generativeai
langchain
langchain-google-genai
langgraph

# Scraping & Data (The essentials for your script)
playwright==1.58.0
beautifulsoup4
lxml

# Data Processing
pandas
numpy
matplotlib
seaborn

# Utilities
python-dotenv
rich
